/**
 * @Author: klein
 * @Date:   2018-06-19T16:16:47+02:00
 * @Email:  https://allan-fk.gitlab.io
 * @Filename: styles.css
 * @Last modified by:   klein
 * @Last modified time: 2018-06-19T19:41:19+02:00
 * @License: GNU General Public License
 */

body {
  background: url(../images/bg.png);
}

.site {
  font-family: 'Holtwood One SC', sans-serif;
}

.text-logo {
  font-family: 'Holtwood One SC', sans-serif;
  color: #e7480f;
  text-shadow: 2px 2px #ffd301;
  font-size: 50px;
  padding: 40px 0px;
  text-align: center;
}

.text-logo .glyphicon {
  color: #ffd301;
  text-shadow: 0px 0px #ffd301;
}

ul.nav {
  margin-bottom: 40px;
}

.thumbnail img {
  background: #ffd301;
}

.price {
  background: #5cb85c;
  box-shadow: 0 1px rgba(0,0,0,0.2);
  color: #fff;
  text-shadow: 2px 2px #333;
  position: absolute;
  right: 6px;
  top: 20px;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 3px;
}

.price:before {
  border: 4px solid transparent;
  border-bottom: 4px solid #4a934a;
  border-left: 4px solid #4a934a;
  content: "";
  position: absolute;
  right: 1px;
  top: -8px;
}

.caption > h4 {
  color: #e7480f;
  font-size: 18px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background: #e7480f;
}

.nav>li>a:focus, .nav>li>a:hover {
  color: #e7480f;
  background-color: #eee;
}

.nav>li>a {
  color: #eee;
  font-size: 18px;
  text-shadow: 2px 2px #333;
}

.btn-order {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #ef7480f;
  text-decoration: none;
  text-shadow: 2px 2px #333;
}

.btn-order {
  color: #fff;
  background-color: #c13c0d;
}

/* Admin */

.admin {
  background-color: white;
  padding: 58px;
  border-radius: 10px;
}

.help-inline {
  color: red;
}
